include _mixins
block footer

    footer#footer.footer

        .container

            .footer__inner

                .footer__menu
                    .footer__menu-link
                        a(href="about.html") О компании

                    .footer__menu-link
                        a(href="services.htm") Услуги
                    
                    .footer__menu-link
                        a(href="news.html") Новости

                    .footer__menu-link
                        a(href="contacts.html") Контакты

                .footer__text
                    p Сертификация продукции и услуг
                    p Декларирование продукции
                    p Свидетельства и заключения
                    p Разработка тех документации
                    p Лицензирование деятельности
                    p Отказные письма
                    p Регистрация
                    p Технические регламенты

                .footer__contacts
                    .footer__contacts-item.footer__contacts-phone
                        i.fal.fa-phone
                        a(href="tel:8 (495) 181 00 16") 8 (495) 181 00 16
                    .footer__contacts-item.footer__contacts-email
                        i.fal.fa-envelope
                        a(href="mailto:info@e-s-u.ru") info@e-s-u.ru

                    .footer__contacts-item.footer__contacts-ask
                        i.fal.fa-comments
                        p(data-src="#popup-questions" data-fancybox) Задать вопрос
            
            .footer__bottom

                .footer__row

                    .footer__copyright © 2023 Все права защищены 
                    .footer__devs
                        a(href="https://di-project.studio/") Разработка сайта
                        |  Di-Project
                    .footer__sitemap
                        a(href="#") Карта сайта
                    .footer__policy
                        a(href="#") Политика конфиденциальность