.head-banner {
    padding: 25px 0 48px;
    background: url('../images/building.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    @include breakpoint(lg) {
        padding: 46px 0;
    }
}

.head-banner::before {
    content: '';
    background: linear-gradient(0deg, rgba(6, 31, 81, 0.75), rgba(6, 31, 81, 0.75));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.breadcrumbs {
    padding-bottom: 16px;
    text-align: center;
    user-select: none;
}

.breadcrumbs-wrapper {
    display: flex;
}

.breadcrumbs-item {
    display: flex;
    width: auto;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
}

.breadcrumbs-item:not(:last-child) {
    color: #C4A43B;
}

.breadcrumbs-item:not(:first-child)::before {
    content: '—';
    margin: 0 10px;
    display: inline-block;
    width: 12px;
    height: 18px;
    color: #fff;
}