.section-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 65% 50%;
    position: relative;
    height: 100vh;
    min-height: 650px;
    max-height: 920px;

    @include breakpoint(lg) {
        background-position: top;
    }
}

.section-hero::before {
    content: '';
    background: linear-gradient(180deg, #061F51 0%, rgba(6, 31, 81, 0) 17.15%), linear-gradient(180deg, rgba(6, 31, 81, 0) 16.25%, rgba(6, 31, 81, 0.91) 73.82%), linear-gradient(90deg, #061F51 0%, rgba(6, 31, 81, 0.12) 50.52%, #061F51 100%);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.section-hero .container {
    height: 100%;
}

.hero {
    padding: 170px 0 35px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 495px;
    height: 100%;
    color: #fff;

    @include breakpoint(lg) {
        padding-top: 240px;
    }

    @include breakpoint(xl) {
        padding-bottom: 140px;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        max-width: unset;
    }
}

.hero__title {

    @include breakpoint(xl) {
        max-width: 540px;
    }
}

.hero__title p {
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 140%;
    opacity: 0.7;

    @include breakpoint(lg) {
        margin-bottom: 45px;
    }
}

.hero__action {
    margin-top: auto;

    @include breakpoint(xl) {
        margin-top: 0;
    }
}

.hero__action p {
    margin-bottom: 42px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.7);

    @include breakpoint(lg) {
        max-width: 448px;
        font-size: 20px;
    }
}

.hero__action b {
    color: #fff;
}

.hero__buttons {

    @include breakpoint(lg) {
        display: flex;
    }
}

.hero__buttons .btn {
    width: 221px;

    @include breakpoint(xl) {
        width: 225px;
    }
}

.hero__btn {
    margin-bottom: 20px;

    @include breakpoint(lg) {
        margin-right: 20px;
        margin-bottom: 0;
    }

    @include breakpoint(xl) {
        margin-right: 32px;
    }
}

.section-about {
    padding: 60px 0;

    @include breakpoint(xl) {
        padding: 100px 0;
    }
}

.about {
    
    @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
    }

    @include breakpoint(lg) {
        position: relative;
    }
}

.about::before {
    
    @include breakpoint(lg) {
        content: '';
        background: #A0915F;
        position: absolute;
        top: calc(50% - 125px);
        left: 50%;
        display: block;
        width: 1px;
        height: 250px;
    }
}

.about__image {
    margin-bottom: 26px;
    border: 5px solid #C4A43B;

    @include breakpoint(md) {
        margin-bottom: 0;
        width: 50%;
    }

    @include breakpoint(lg) {
        width: calc(50% - 90px);
    }

    @include breakpoint(xl) {
        margin-left: 100px;
        width: 380px;
    }
}

.about__image img {

    @include breakpoint(md) {
        height: 100%;
        object-fit: cover;
    }
}

.about__text {

    @include breakpoint(md) {
        width: calc(50% - 50px);
    }

    @include breakpoint(lg) {
        width: calc(50% - 100px);
    }

    @include breakpoint(xl) {
        margin-right: 100px;
        width: 380px;
    }
}

.advantages {
    margin-bottom: -10px;

    @include breakpoint(md) {
        margin-left: -10px;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
    }

    @include breakpoint(lg) {
        margin-left: -20px;
    }
}

.advantages__item {
    --gap: 10px;

    margin-bottom: var(--gap);
    padding: 30px 15px;
    background: #F7F7F7;
    text-align: center;

    @include breakpoint(md) {
        margin-left: var(--gap);
        width: calc(50% - var(--gap));
    }

    @include breakpoint(lg) {
        --gap: 20px;

        margin-bottom: 0;
        padding: 30px 10px;
        width: calc(25% - var(--gap));
    }

    @include breakpoint(xl) {
        --gap: 30px;

        padding: 30px 20px;
    }
}

.advantages__item-icon {
    margin-bottom: 20px;
    font-size: 48px;
    color: #A0915F;
}

.advantages__item-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #061F51;
}

.advantages__item-text {
    font-size: 16px;
    line-height: 140%;
    color: #595959;
}

.section-question {
    padding: 60px 0;

    @include breakpoint(xl) {
        padding: 100px 0;
    }
}

.question {
    margin: 0 auto;
    padding: 22px 15px 39px;
    background: #FFFFFF;
    max-width: 500px;
    text-align: center;
    border: 7px solid #C4A43B;

    @include breakpoint(lg) {
        padding: 22px 30px;
        display: flex;
        align-items: center;
        max-width: unset;
        text-align: unset;
    }

    @include breakpoint(xl) {
        padding: 45px;
    }
}

.question__title {
    margin-bottom: 21px;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    text-transform: uppercase;
    color: #061F51;

    @include breakpoint(lg) {
        margin-bottom: 0;
        width: calc(100% / 12 * 4 - 20px);
        font-size: 36px;
    }

    @include breakpoint(xl) {
        width: 350px;
    }
}

.question__text {
    margin-bottom: 37px;
    font-size: 20px;
    line-height: 140%;
    color: #919191;

    @include breakpoint(lg) {
        margin-left: 20px;
        margin-bottom: 0;
        width: calc(100% / 12 * 4);
    }

    @include breakpoint(xl) {
        width: 448px;
    }
}

.question__btn {
    padding: 16px 30px;
    display: inline-block;

    @include breakpoint(lg) {
        margin-left: auto;
    }
}

.section-services {
    padding-bottom: 60px;

    @include breakpoint(xl) {
        padding-bottom: 80px;
    }
}

.services__head {
    margin-bottom: 40px;

    @include breakpoint(lg) {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
    }

    @include breakpoint(xl) {
        margin-bottom: 70px;
    }
}

.services__title {
    margin-bottom: 40px;

    @include breakpoint(lg) {
        margin-bottom: 0;
        width: 510px;
    }
}

.services__subtitle {
    font-size: 16px;
    line-height: 140%;

    @include breakpoint(lg) {
        width: 390px;
    }

    @include breakpoint(xl) {
        width: 480px;
    }
}

.services {
    margin-top: -10px;

    @include breakpoint(lg) {
        margin-top: -20px;
        margin-left: -20px;
        display: flex;
        flex-wrap: wrap;
    }

    @include breakpoint(xl) {
        margin-left: -30px;
    }
}

.services__item {
    margin-top: 10px;
    background: #F7F7F7;
    user-select: none;
    cursor: default;
    transition: all .4s ease;

    @include breakpoint(lg) {
        --gap: 20px;

        margin-top: var(--gap);
        margin-left: var(--gap);
        width: calc(50% - var(--gap));
    }

    @include breakpoint(xl) {
        --gap: 30px;

        margin-top: 20px;
    }
}

.services__item a {
    padding: 20px 15px;
    display: flex;
    align-items: center;

    @include breakpoint(md) {
        padding: 20px;
    }
}

.services__item:hover {
    background: #0A3282;
}

.services__item:hover .services__item-title {
    color: #fff;
}

.services__item-img {
    flex-shrink: 0;
    width: 66px;
    height: 66px;

    @include breakpoint(lg) {
        width: 100px;
        height: 100px;
    }
}

.services__item-img img {
    height: 100%;
    object-fit: cover;
}

.services__item-title {
    margin-left: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: #061F51;

    @include breakpoint(xl) {
        margin-left: 50px;
        padding-right: 55px;
        font-size: 24px;
    }
}

.services-clients {
    margin-top: 25px;

    @include breakpoint(md) {
        margin-left: -10px;
    }

    @include breakpoint(lg) {
        margin-top: 60px;
        margin-left: -50px;
    }

    @include breakpoint(xl) {
        margin-top: 80px;
    }
}

.services-clients__item {
    width: auto;
    height: 35px;
    overflow: hidden;

    @include breakpoint(md) {
        margin-left: 10px;
        width: calc(100% / 6 - 10px);
        height: 60px;
        text-align: center;
    }

    @include breakpoint(lg) {
        margin-left: 50px;
        width: calc(100% / 6 - 50px);
    }
}

.services-clients__item img {
    height: 100%;
}

.section-reviews {
    padding: 30px 0 50px;
    background: #F7F7F7;

    @include breakpoint(lg) {
        padding: 100px 0 70px;
    }

    @include breakpoint(xl) {
        padding: 100px 0;
    }
}

.reviews__head {
    margin-bottom: 36px;

    @include breakpoint(lg) {
        margin-bottom: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.reviews__title {
    margin-bottom: 20px;

    @include breakpoint(lg) {
        margin-bottom: 0;
    }
}

.reviews__nav {
    display: flex;
}

.nav-arrow {
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    font-size: 12px;
    border: 1px solid #E3E3E3;
    border-radius: 3px;
    cursor: pointer;
}

.nav-arrow ~ .nav-arrow {
    margin-left: 10px;
}

.reviews__slide {
    padding: 44px 18px 28px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;

    @include breakpoint(lg) {
        padding: 44px 40px;
    }
}

.reviews__slide::after {
    content: '';
    background: url('../images/quote.svg') no-repeat;
    background-position: center;
    position: absolute;
    top: 46px;
    right: 30px;
    display: block;
    width: 34px;
    height: 24px;

    @include breakpoint(lg) {
        right: 20px;
    }
}

.reviews__slider-title {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
}

.reviews__slider-subtitle {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 140%;
    color: #0A3282;
}

.reviews__slider-text {
    font-size: 14px;
    line-height: 140%;
}

.section-form {
    padding: 30px 0 50px;
    background: url('../images/building.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;

    @include breakpoint(lg) {
        padding: 100px 0;
    }

    .form-container {
        padding: 0;
        
        @include breakpointMax(lg) {
            margin: 0 auto;
            max-width: 475px;
        }
    }

    .form-info {

        @include breakpoint(lg) {
            width: calc(50% - 200px);
        }
    }

    .form-info__title {
        max-width: unset;
        font-size: 36px;
        color: #fff;

        @include breakpoint(lg) {
            font-size: 48px;
        }
    }

    .form-info__subtitle {
        max-width: unset;
        font-size: 20px;
        color: #fff;
    }

    .form {

        @include breakpoint(lg) {
            width: 100%;
        }

        @include breakpoint(xl) {
            margin-left: 130px;
        }
    }

    .form label {
        color: #fff;
    }

    .form input {
        background: rgba(125, 148, 196, 0.5);
        color: #fff;
        border: none;

        @include breakpoint(xl) {
            width: 100%;
        }
    }

    .form input::placeholder {
        color: #fff;
    }

    .form-block ~ .form-block {

        @include breakpoint(xl) {
            margin-left: 30px;
        }
    }

    .form .agreement label::before {
        background: #fff;
    }

    .form .agreement input:checked+label::before {
        background: #0A3282;
    }

    .form .btn {
        background: #fff;
        width: 100%;
        max-width: 360px;
        color: #061F51;
        border-radius: 3px;
    }

    .textarea-style textarea {
        background: rgba(125, 148, 196, 0.5);
        color: #fff;
        border: none;
    }

    .textarea-style textarea::placeholder {
        color: #fff;
    }
}

.section-form::before {
    content: '';
    background: linear-gradient(0deg, rgba(6, 31, 81, 0.84), rgba(6, 31, 81, 0.84));
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}