mixin breadcrumbs(title, ...items)

    .head-banner

        .container

            .breadcrumbs

                .breadcrumbs-inner.swiper

                    .breadcrumbs-wrapper.swiper-wrapper

                        .breadcrumbs-item.swiper-slide
                            a(href='/') Главная

                        each item in items

                            if item == items[items.length - 1]
                                .breadcrumbs-item.swiper-slide
                                    span= item

                            else
                                .breadcrumbs-item.swiper-slide
                                    a(href="#")= item

            h1.title= title