---
title: EuroSertium-U | О компании
bodyClass: about-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('О компании', 'О компании')

    section.section-about

        .container

            .about

                .about__image
                    img(src="assets/images/overhead-view-coffee-cup-calculator-pot-plant-blank-white-papers-pencils-paper-files-black-background.jpg", alt="img")
                
                .about__text
                    p <b>Центр Сертификации продукции и услуг «ЕВРОСЕРТИУМ-Ю» поможет осуществить оформление,  легитимного пакета документов, а также расширить границы Вашего бизнеса. Мы дорожим временем и репутацией своих клиентов, готовы выполнить поставленную задачу в кротчайшие сроки, возлагая на себя все трудности, при разработке Нормативно технической документации, оформлении Сертификатов, Деклараций соответствия, Протоколов испытаний и Лицензий, для продукции и вида деятельности в странах ЕАЭС, Евросоюза и других стран.</b>
                      br
                      br
                      |Благодаря профессионализму и мобильности, проведем оформление документации, в онлайн режиме по электронной почте, назначим курьера для доставки документации в Ваш офис, за наш счёт.
                      br
                      br
                      |Мы проведём анализ документации, выявим недостатки и несовпадения с текущими нормами и регламентирующей части законодательства, команда наших экспертов компетентна и внесёт все необходимые поправки, для беспрепятственного получения необходимой документации.

            .about__banner
                
                p Наш центр, создан для успешного и бесперебойного развития вашего бизнеса! На сегодняшний день 95% продукции, поставляемой на рынок Российской Федерации и в страны Евразийского экономического союза в целом, обязаны пройти процедуру подтверждения качества, в соответствии со стандартами Российской Федерации и Техническими регламентами таможенного союза (ТР ТС/ЕАЭС)
                  br
                  br
                  | Центр сертификации и стандартизации ООО "Евросертиум-Ю", имеет высокий уровень обслуживания, широкую партнерскую сеть, более чем семилетний опыт работы и около 5 000 разрешительных документов оформленных для производителей, импортеров продукции и компаний, осуществляющих стороннюю деятельность.

            .services-clients

                .swiper

                    .swiper-wrapper

                        .services-clients__item.swiper-slide
                            img(src="assets/images/tinkoff.png", alt="img")

                        .services-clients__item.swiper-slide
                            img(src="assets/images/gazprom.png", alt="img")

                        .services-clients__item.swiper-slide
                            img(src="assets/images/ross.png", alt="img")

                        .services-clients__item.swiper-slide
                            img(src="assets/images/pro.png", alt="img")

                        .services-clients__item.swiper-slide
                            img(src="assets/images/merlion.png", alt="img")

                        .services-clients__item.swiper-slide
                            img(src="assets/images/rzhd.png", alt="img")

    section.section-question

        .container

            .question

                .question__title Есть вопросы?
                .question__text Наши специалисты бесплатно помогут, сориентировав вас в правильном направлении
                .question__btn.btn.btn--fill-brown(data-src="#popup-questions" data-fancybox) Обсудить задачу
