---
title: EuroSertium-U | Центр сертификации продукции
bodyClass: main-page
---

extends includes/_page

block main

    section.section-hero(style="background-image: url('assets/images/industrial-workers-cooperating-while-doing-quality-control-manufactured-products-factory.png')")

        .container

            .hero

                .hero__title
                    p Чем мы занимаемся?
                    h1.title Центр сертификации продукции

                .hero__action
                    p.accented-text <b>Фокусируйтесь</b> на производстве и продажах, пока мы сертифицируем вашу продукцию
                    .hero__buttons
                        .hero__btn.btn.btn--fill-brown(data-src="#popup-callback" data-fancybox) Заказать консультацию
                        a(href="services.html").btn.btn--border-white Показать перечень услуг

    section.section-about

        .container

            .about

                .about__image
                    img(src="assets/images/erial-photography-container-terminal.jpg", alt="img")
                
                .about__text
                    p <b>Центр Сертификации продукции и услуг «ЕВРОСЕРТИУМ-Ю» поможет осуществить оформление,  легитимного пакета документов, а также расширить границы Вашего бизнеса. Мы дорожим временем и репутацией своих клиентов, готовы выполнить поставленную задачу в кротчайшие сроки, возлагая на себя все трудности, при разработке Нормативно технической документации, оформлении Сертификатов, Деклараций соответствия, Протоколов испытаний и Лицензий, для продукции и вида деятельности в странах ЕАЭС, Евросоюза и других стран.</b>
                      br
                      br
                      |Благодаря профессионализму и мобильности, проведем оформление документации, в онлайн режиме по электронной почте, назначим курьера для доставки документации в Ваш офис, за наш счёт.
                      br
                      br
                      |Мы проведём анализ документации, выявим недостатки и несовпадения с текущими нормами и регламентирующей части законодательства, команда наших экспертов компетентна и внесёт все необходимые поправки, для беспрепятственного получения необходимой документации.

    section.section-advantages

        .container

            .advantages

                .advantages__item
                    .advantages__item-icon
                        i.fal.fa-handshake
                    .advantages__item-title Помощь на всех этапах
                    .advantages__item-text Бесплатная консультация, отсутствие предоплаты, персональный менеджер – сделают сотрудничество легким и приятным.

                .advantages__item
                    .advantages__item-icon
                        i.fal.fa-shield-check
                    .advantages__item-title Гарантия законности
                    .advantages__item-text Работаем без посредников по всем видам сертификации. Минимум действий от заказчика. Максимум действий от нас нацеленных на прогнозируемый результат. 
                
                .advantages__item
                    .advantages__item-icon
                        i.fal.fa-watch
                    .advantages__item-title выполняем Четкие сроки
                    .advantages__item-text С вами работаем персональный менеджер. Все бизнес-процессы выстроены для быстрого решения поставленных задач.
                
                .advantages__item
                    .advantages__item-icon
                        i.fal.fa-people-group
                    .advantages__item-title только профи в команде
                    .advantages__item-text Стаж наших сотрудников от 5 до 10 лет, что способствует отсутствию ошибок в работе. Мы очень требовательны к себе и качеству работы!

    section.section-question

        .container

            .question

                .question__title Есть вопросы?
                .question__text Наши специалисты бесплатно помогут, сориентировав вас в правильном направлении
                .question__btn.btn.btn--fill-brown(data-src="#popup-questions" data-fancybox) Обсудить задачу

    section.section-services

        .container

            .services__head
                h2.services__title.section-title услуги компании
                .services__subtitle Мы готовы работать с любыми видами продукции и услуг, включая технически сложные и специфические виды продукции и услуг. 

            .services

                .services__item
                    .services__item-img
                        img(src="assets/images/serv-1.png", alt="img")
                    .services__item-title Сертификация продукции и услуг

                .services__item
                    .services__item-img
                        img(src="assets/images/serv-2.png", alt="img")
                    .services__item-title Декларирование продукции

                .services__item
                    .services__item-img
                        img(src="assets/images/serv-3.png", alt="img")
                    .services__item-title Свидетельства и заключения

                .services__item
                    .services__item-img
                        img(src="assets/images/serv-4.png", alt="img")
                    .services__item-title Разработка тех документации

                .services__item
                    .services__item-img
                        img(src="assets/images/serv-5.png", alt="img")
                    .services__item-title Лицензирование деятельности

                .services__item
                    .services__item-img
                        img(src="assets/images/serv-6.png", alt="img")
                    .services__item-title Отказные письма

                .services__item
                    .services__item-img
                        img(src="assets/images/serv-7.png", alt="img")
                    .services__item-title Регистрация

                .services__item
                    .services__item-img
                        img(src="assets/images/serv-8.png", alt="img")
                    .services__item-title Технические регламенты

            .services-clients

                .swiper

                    .swiper-wrapper

                        .services-clients__item.swiper-slide
                            img(src="assets/images/tinkoff.png", alt="img")

                        .services-clients__item.swiper-slide
                            img(src="assets/images/gazprom.png", alt="img")

                        .services-clients__item.swiper-slide
                            img(src="assets/images/ross.png", alt="img")

                        .services-clients__item.swiper-slide
                            img(src="assets/images/pro.png", alt="img")

                        .services-clients__item.swiper-slide
                            img(src="assets/images/merlion.png", alt="img")

                        .services-clients__item.swiper-slide
                            img(src="assets/images/rzhd.png", alt="img")

    section.section-reviews

        .container

            .reviews
                
                .reviews__head
                    h2.reviews__title.section-title Отзывы клиентов
                    .reviews__nav
                        .nav-arrow.nav-arrow--left
                            i.fal.fa-chevron-left
                        .nav-arrow.nav-arrow--right
                            i.fal.fa-chevron-right

                .swiper

                    .swiper-wrapper

                        .reviews__slide.swiper-slide
                            .reviews__slider-title Иван Петров
                            .reviews__slider-subtitle ОА «Газпром торг»
                            .reviews__slider-text Сертификация позволила нам подтвердить качество нашей продукции и соответствие ее стандартам безопасности и экологичности. Это повысило уровень доверия к нашему бренду со стороны наших клиентов и партнеров.<br><br>Так же мы учли все те небольшие проблемы, которые выявили в процессе сертификации и уже их исправили.

                        .reviews__slide.swiper-slide
                            .reviews__slider-title Илья Иванов
                            .reviews__slider-subtitle ООО «Кучеров и Партнёры»
                            .reviews__slider-text Сертификация позволила нам подтвердить качество нашей продукции и соответствие ее стандартам безопасности и экологичности. Это повысило уровень доверия к нашему бренду со стороны наших клиентов и партнеров.<br><br>Так же мы учли все те небольшие проблемы, которые выявили в процессе сертификации и уже их исправили.

    section.section-form

        .container

            .popup-questions.form-container

                .form-info
                    .form-info__title.section-title Остались вопросы?
                    .form-info__subtitle Воспользуйтесь формой , чтобы задать ваш вопрос, оставить предложение или отзыв.

                .form
                    form
                        .form-wrap
                            .form-block
                                .input-style
                                    label Ваше имя
                                    input(type="text" placeholder="Представьтесь" autocomplete="off" required)
                                
                                .input-style
                                    label Телефон
                                    input(type="tel" required autocomplete="off" placeholder="+7")
                                
                                .input-style
                                    label E-mail
                                    input(type="email" required autocomplete="off" placeholder="Введите ваш E-mail")
                            
                            .form-block
                                .textarea-style
                                    label Вопрос
                                    textarea(placeholder="Введите текст" required)

                                .agreement.checkbox-style
                                    input#agreement_3(type="checkbox" name="agreement_3" checked)
                                    label(for="agreement_3")
                                        span Даю согласие на обработку <a href="#">персональных данных</a>

                                button.btn(type="submit") Отправить данные


