---
title: EuroSertium-U | Центр сертификации продукции
bodyClass: main-page
---

extends includes/_page

block main

    section.section-hero(style="background-image: url('assets/images/industrial-workers-cooperating-while-doing-quality-control-manufactured-products-factory.png')")

        .container

            .hero

                .hero__title
                    p Чем мы занимаемся?
                    h1.title Центр сертификации продукции

                .hero__action
                    p.accented-text <b>Фокусируйтесь</b> на производстве и продажах, пока мы сертифицируем вашу продукцию
                    .hero__buttons
                        .hero__btn.btn.btn--fill-brown(data-src="#popup-callback" data-fancybox) Заказать консультацию
                        a(href="services.html").btn.btn--border-white Показать перечень услуг

    section.section-about

        .container

            .about

                .about__image
                    img(src="assets/images/erial-photography-container-terminal.jpg", alt="img")
                
                .about__text
                    p <b>Центр Сертификации продукции и услуг «ЕВРОСЕРТИУМ-Ю» поможет осуществить оформление,  легитимного пакета документов, а также расширить границы Вашего бизнеса. Мы дорожим временем и репутацией своих клиентов, готовы выполнить поставленную задачу в кротчайшие сроки, возлагая на себя все трудности, при разработке Нормативно технической документации, оформлении Сертификатов, Деклараций соответствия, Протоколов испытаний и Лицензий, для продукции и вида деятельности в странах ЕАЭС, Евросоюза и других стран.</b>
                      br
                      br
                      |Благодаря профессионализму и мобильности, проведем оформление документации, в онлайн режиме по электронной почте, назначим курьера для доставки документации в Ваш офис, за наш счёт.
                      br
                      br
                      |Мы проведём анализ документации, выявим недостатки и несовпадения с текущими нормами и регламентирующей части законодательства, команда наших экспертов компетентна и внесёт все необходимые поправки, для беспрепятственного получения необходимой документации.