---
title: EuroSertium-U | Росстандарт запускает и реализует проекты для ЕАЭС в области технического регулирования
bodyClass: news-inner-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('', 'Новости', 'Росстандарт запускает и реализует проекты для ЕАЭС в области технического регулирования')

    section.section-article

        .container

            .article
                
                h1.title Росстандарт запускает и реализует проекты для ЕАЭС в области технического регулирования

                
                .article__date 13 апр 2023
                .article__image
                    img(src="assets/images/news-inner.png", alt="img")

                .article__content
                    p В Москве состоялось заседание Консультативного комитета по техническому регулированию, применению санитарных, ветеринарных и фитосанитарных мер. Участники мероприятия подвели итоги пилотного проекта «О безопасности колесных транспортных средств» в электронном виде, он проводился в 2022 году и был направлен на оформление документов об оценке соответствия т/с требованиям технического регламента.
                      br
                      br
                      |Проект проходил в международном формате — в нем принимали участие уполномоченные органы Республики Беларусь и РФ. Ключевой целью инициативы была проработка процедуры оформления документов об оценке соответствия колесных т/c в электронном виде. Также отрабатывалась автоматическая выгрузка информации из документов в формате, удобном для считывания при помощи визуализирующего и аналитического ПО.Глава Росстандарта А. Шалаев прокомментировал результаты проекта, заявив, что перевод в электронный вид одобрений типа шасси (ОТШ), одобрений типа т/с (ОТТС) и свидетельств о безопасности конструкции транспортных средств (СБКТС) позволит решить ряд ключевых задач. В их числе:

                    ul
                        li повышение эффективности гос. контроля за т/с;
                        li цифровая трансформация элементов тех. регулирования;
                        li прослеживаемость работ по оценке соответствия.

                    p Старт другому пилотному проекту дала Коллегия ЕЭК. Он направлен на отработку механизма допуска средств измерений к применению на территории ЕАЭС

                    .article-block
                        p Предполагается, что средства измерения будут использоваться по упрощенной схеме. Основанием для их применения должны стать результаты метрологических работ, которые проведут соответствующие органы в соответствии с действующими нормативами по единству измерений

                    p Реализация проекта должна помочь в определении несовершенства механизмов, используемых при применении порядков Комиссии по проведению метрологических работ. По результатам работы потребуется внесение практических предложений в акты Союза и Договор о ЕАЭС. Также нужно будет выработать рабочую схему для внедрения в обращение в Союзе указанных средств измерений.
                
                .article__bottom
                    .article__source
                        p Источник:
                        p Росстандарт

                    a.article__btn.btn.btn--border-blue(href="news.html") Назад к новостям

    section.section-readmore

        .container

            h2 Читайте так же

            .news

                .news__item
                    a(href="#") 
                        .news__item-img
                            img(src="assets/images/1954ae2aef1a4f89816cfff571ac4f04.png", alt="img")
                        .news__item-desc
                            .news__item-date 13 апр 2023
                            .news__item-title Название новости в одну или две строки

                .news__item
                    a(href="#") 
                        .news__item-img
                            img(src="assets/images/1954ae2aef1a4f89816cfff571ac4f04.png", alt="img")
                        .news__item-desc
                            .news__item-date 13 апр 2023
                            .news__item-title Название новости в одну или две строки

                .news__item
                    a(href="#") 
                        .news__item-img
                            img(src="assets/images/1954ae2aef1a4f89816cfff571ac4f04.png", alt="img")
                        .news__item-desc
                            .news__item-date 13 апр 2023
                            .news__item-title Название новости в одну или две строки