---
title: EuroSertium-U | Новости
bodyClass: news-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Новости', 'Новости')

    section.news-section

        .container

            .tabs

                .swiper

                    .swiper-wrapper

                        .tabs__item.active.swiper-slide
                            a(href="#")  2023
                        .tabs__item.swiper-slide
                            a(href="#")  2022
                        .tabs__item.swiper-slide
                            a(href="#")  2021
                        .tabs__item.swiper-slide
                            a(href="#")  Архив

            .news

                .news__item
                    a(href="#") 
                        .news__item-img
                            img(src="assets/images/1954ae2aef1a4f89816cfff571ac4f04.png", alt="img")
                        .news__item-desc
                            .news__item-date 13 апр 2023
                            .news__item-title Название новости в одну или две строки

                .news__item
                    a(href="#") 
                        .news__item-img
                            img(src="assets/images/1954ae2aef1a4f89816cfff571ac4f04.png", alt="img")
                        .news__item-desc
                            .news__item-date 13 апр 2023
                            .news__item-title Название новости в одну или две строки

                .news__item
                    a(href="#") 
                        .news__item-img
                            img(src="assets/images/1954ae2aef1a4f89816cfff571ac4f04.png", alt="img")
                        .news__item-desc
                            .news__item-date 13 апр 2023
                            .news__item-title Название новости в одну или две строки

                .news__item
                    a(href="#") 
                        .news__item-img
                            img(src="assets/images/1954ae2aef1a4f89816cfff571ac4f04.png", alt="img")
                        .news__item-desc
                            .news__item-date 13 апр 2023
                            .news__item-title Название новости в одну или две строки

                .news__item
                    a(href="#") 
                        .news__item-img
                            img(src="assets/images/1954ae2aef1a4f89816cfff571ac4f04.png", alt="img")
                        .news__item-desc
                            .news__item-date 13 апр 2023
                            .news__item-title Название новости в одну или две строки

                .news__item
                    a(href="#") 
                        .news__item-img
                            img(src="assets/images/1954ae2aef1a4f89816cfff571ac4f04.png", alt="img")
                        .news__item-desc
                            .news__item-date 13 апр 2023
                            .news__item-title Название новости в одну или две строки

                .news__item
                    a(href="#") 
                        .news__item-img
                            img(src="assets/images/1954ae2aef1a4f89816cfff571ac4f04.png", alt="img")
                        .news__item-desc
                            .news__item-date 13 апр 2023
                            .news__item-title Название новости в одну или две строки

                .news__item
                    a(href="#") 
                        .news__item-img
                            img(src="assets/images/1954ae2aef1a4f89816cfff571ac4f04.png", alt="img")
                        .news__item-desc
                            .news__item-date 13 апр 2023
                            .news__item-title Название новости в одну или две строки

                .news__item
                    a(href="#") 
                        .news__item-img
                            img(src="assets/images/1954ae2aef1a4f89816cfff571ac4f04.png", alt="img")
                        .news__item-desc
                            .news__item-date 13 апр 2023
                            .news__item-title Название новости в одну или две строки

                .news__item
                    a(href="#") 
                        .news__item-img
                            img(src="assets/images/1954ae2aef1a4f89816cfff571ac4f04.png", alt="img")
                        .news__item-desc
                            .news__item-date 13 апр 2023
                            .news__item-title Название новости в одну или две строки

                .news__item
                    a(href="#") 
                        .news__item-img
                            img(src="assets/images/1954ae2aef1a4f89816cfff571ac4f04.png", alt="img")
                        .news__item-desc
                            .news__item-date 13 апр 2023
                            .news__item-title Название новости в одну или две строки

                .news__item
                    a(href="#") 
                        .news__item-img
                            img(src="assets/images/1954ae2aef1a4f89816cfff571ac4f04.png", alt="img")
                        .news__item-desc
                            .news__item-date 13 апр 2023
                            .news__item-title Название новости в одну или две строки

            .news__bottom

                .news__nav
                    .news__request.btn.btn--fill-blue Оформить заявку
                    .news__count 12 из 24 новостей

                .news__pagination
                    .news__pagination-nav.news__pagination-nav--prev
                        a(href="#") Пред

                    .pagination
                        .pagination__link
                            a(href="#") 1
                        .pagination__link
                            a(href="#") 2
                        .pagination__link
                            a(href="#") 3
                        .pagination__link
                            span ...
                        .pagination__link
                            a(href="#") 10

                    .news__pagination-nav.news__pagination-nav--next
                        a(href="#") След