---
title: EuroSertium-U | Сертификация продукции и услуг
bodyClass: services-inner-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Сертификация продукции и услуг', 'Услуги', 'Сертификация продукции и услуг')

    section.section-services-inner

        .container

            .services-wrap

                .services-main

                    .services__types
                        h2 Виды сертификации

                        .services-main__links

                            a(href="#") Сертификация по ТР ТС
                            a(href="#") Сертификация в добровольной системе
                            a(href="#") Добровольный пожарный сертификат
                            a(href="#") Сертификация пожарной безопасности (ФЗ 123)
                            a(href="#") Сертификация ISO (ИСО ГОСТР) 
                            a(href="#") Экологический сертификат
                            a(href="#") Сертификат происхождения СТ 1
                            a(href="#") Сертификация услуг
                            a(href="#") Утверждение средств измерений
                            a(href="#") Сертификат сейсмостойкости

                    .services__about
                        h2 О сертификации
                        
                        .services-main__content
                            p Lörem ipsum yrade ponde delig oaktat krore. Preligen misofoni krotelogi disade diasperade som oktig. Hemisat nyn alltså bemanat kontris nunåk, SMS-meddelande. Vör sonde plal. Dydyst obibik. Dijaver spetaras. Trande mobil klubb utom bekymringssamtal. Vigimånera hybridkrig är spenit men felig. 
                              br
                              br
                              |Fararad langar mevis rejys. Adeligen demist i ajyll, vagon krogelig i padok. Kvasingar hyporad rejyr samt pseudoda. Hypodade nyngen. Semigådade monose euvön: nötömide, prelagen. Tresamma kaska förutom ing inte dibel gigans, logoskop om diande. Sovbutik prerar spelogi bionös fastän revåling. Dons setreteren rerade. 
                              br
                              br
                              |Ordningskonsult rara såväl som gardinhängarjobb. Yng kontrav så tetrass med ed. Änera rel, det friva rarande emedan didigisk sedan sasam prolingar. Pude lask i prefyd krologi som remede. Jåling kontrarade förutom kvasikunade anamer junt preveck. Arabisk vår rötit mikroskade sana prere, bioda, respektive fulparkerare. Post-it-krig nepp i ultraposam, monohet såväl som marade toliga krovis. Desgen pansexuell, cybersoldat astrodyskapet, om nide då tebel krolig. 
                              br
                              br
                              |Synlogi multide. Trerade våviktig, ott. Imår skogsbad biogågt. Menas reack nysasam i vit speling sygår. Renas fåra och dyheten. Automegar astroligt epigon söd sang. Bigisk andrafiering är skräpbot. Bira tefås smartboard. 

                    .services__advantages

                        .services__advantages-item
                            .advantages__item-icon
                                i.fal.fa-handshake
                            .advantages__item-title Помощь на всех этапах
                        .services__advantages-item
                            .advantages__item-icon
                                i.fal.fa-shield-check
                            .advantages__item-title Гарантия законности
                        .services__advantages-item
                            .advantages__item-icon
                                i.fal.fa-watch
                            .advantages__item-title выполняем Четкие сроки

                        .services__advantages-item
                            .advantages__item-icon
                                i.fal.fa-people-group
                            .advantages__item-title только профи в команде

                .services-aside

                    .services-aside__wrap

                        .aside
                            .aside__link.active
                                a(href="#") Сертификация продукции и услуг
                            .aside__link    
                                a(href="#") Декларирование продукции
                            .aside__link    
                                a(href="#") Свидетельства и заключения      
                            .aside__link    
                                a(href="#") Разработка тех документации     
                            .aside__link    
                                a(href="#") Лицензирование деятельности
                            .aside__link    
                                a(href="#") Отказные письма
                            .aside__link    
                                a(href="#") Регистрация
                            .aside__link    
                                a(href="#") Технические регламенты
                        
                        .aside-support

                            .aside-support__wrap
                                .aside-support__title нужна помощь?
                                .aside-support__subtitle Просто введите имя и телефон

                                .aside-support__form
                                    form
                                        .input-style
                                            input(type="text" placeholder="Как вас зовут?" required)
                                        .input-style
                                            input(type="tel" placeholder="+7 (___) ___-__-__" required)
                                        .checkbox-style
                                            input#agree(type="checkbox", name="agreement" checked)
                                            label(for="agree")
                                                p Согласен на обработку персональных данных
                                        button.btn.btn--fill-brown(type="submit")  Оформить заявку

                        .aside-contacts
                            .aside-contacts__title контакты

                            .aside-contacts-item.aside-contacts-phone
                                i.fal.fa-phone
                                a(href="tel:8 (495) 181 00 16") 8 (495) 181 00 16

                            .aside-contacts-item.aside-contacts-email
                                i.fal.fa-envelope
                                a(href="mailto:info@e-s-u.ru") info@e-s-u.ru

                            .aside-contacts-item.aside-contacts-ask
                                i.fal.fa-comments
                                p(data-src="#popup-questions" data-fancybox) Задать вопрос