---
title: EuroSertium-U | Сертификат СТ 1 и другие формы сертификации
bodyClass: services-inner-item-page
activeClass: active
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Сертификат СТ 1 и другие формы сертификации', 'Услуги', 'Сертификация продукции и услуг', 'Сертификат СТ 1 и другие формы сертификации')

    section.section-services-inner

        .container

            .services-wrap

                .services-main

                    .services-main__block
                        p Документ, который подтверждает происхождение товара, - международная формальность? Вовсе нет.
                          br
                          br
                          |Документ используется для оформления продукции на таможне, именно благодаря этой «формальности» товары принимаются в стране назначения и облагаются ставкой таможенной пошлины. Причём в большинстве случаев сертификат предоставляет значительные преференции и позволяет сократить расходы.

                        .services-main__block-img
                            i.fal.fa-stamp
                            span Сертификат происхождения форма СТ1

                    .services-order
                        .services-order__title Документ под ключ
                        .services-order__right
                            p от 7 000 руб.
                            .btn.btn--fill-blue(data-src="#popup-callback" data-fancybox) Оформить заявку
                    
                    .services-content

                        p Сертификат СТ-1 очень важен, поскольку информирует о происхождении продукции, изделий. В частности - подтверждает страну, в которой продукт был полностью изготовлен либо существенно переработан. Действие документа распространяется на территории государств - участников ЕАЭС.
                          br
                          br
                          |Обратите внимание: к полностью произведённым в стране относят природные ресурсы, которые располагаются на территории этой страны.
                          br
                          br
                          |Центр «Евросертиум-Ю» предлагает всестороннюю профессиональную поддержку в получении сертификата СТ-1 и других форм в Москве. Стоимость услуги рассчитывается индивидуально, так как зависит от страны ввоза, величины партии и других факторов. Свяжитесь с нами. Специалисты компании проконсультируют вас по всем интересующим вопросам относительно СТ-1 и других форм сертификатов.
                
                    .services-content-block

                        h2 О сертификате СТ-1 более подробно

                        p В соответствии с постановлением правительства России, выдачу подобных сертификатов происхождения товара в нашей стране осуществляет ТПП РФ.

                        h5 В настоящее время используются три типа сертификатов происхождения СТ-1:

                        ul
                            li для тендеров и государственных закупок;
                            li для экспортируемых товаров и получения преференций в государствах ввоза;
                            li для вывоза легковых авто российских производителей физическими лицами, а также гражданами СНГ (позволяет растаможивание автомобилей в стране, куда осуществляется ввоз, на льготных условиях).
                        br
                        br
                        p Получать сертификат СТ-1 необходимо, если организация, компания осуществляют экспорт/импорт со странами СНГ (Азербайджаном, Грузией, Туркменистаном, Таджикистаном, Узбекистаном, Молдовой). Для поставок в республики, которые являются членами ЕАЭС (Армения, Беларусь, Казахстан, Кыргызская Республика), получение документа не является обязательным, но возможно по желанию поставщика.
                          br
                          br
                          |Начиная с 2014 года, сертификат о происхождении товара формы СТ-1 используют при поставках в Абхазию и Южную Осетию. Для экспорта/импорта с Украиной с 2016 года действительна общая форма сертификата, которая не предусматривает никаких преференций.
                          br
                          br
                          |Для сертификата формы СТ-1 была специально разработана и законодательно установлена единая форма бланков, которые имеют формат А4, бледно-зелёный цвет и выпускаются спецтипографией на клеёной бумаге плотностью не менее 25 г/м2, не имеющей примесей целлюлозы. Для данного вида бланков также предусмотрена специальная защита от подделок.
                          br
                          br
                          |Кроме того, документ должен быть заполнен на русском языке и выдан в трёх экземплярах на каждую партию товара. Первый экземпляр является оригиналом и служит для предъявления вместе с пакетом документов при оформлении на таможне. Два других оформляются на незащищённой бумаге и считаются копиями. При этом оформить сертификат происхождения товара СТ-1 можно уже после отправки товарной партии и пересечения границы страны. Действие сертификата составляет 1 год, но допустима выдача дубликата при утере.
                          br
                          br
                          |Обратите внимание: в сертификате не разрешаются никакие самостоятельные исправления. Внести правки можно только одним способом: неверная информация зачёркивается, а корректная надпечатывается и заверяется печатью и подписью уполномоченного органа государства.

                    .services-content-block

                        h2 Иные виды сертификации происхождения продукции

                        h4 Form A
                        
                        h5 Кроме сертификатов СТ-1, в Москве и других регионах РФ действует общая универсальная форма сертификата А, которую выдают, когда применение других форм сертификации невозможно. Данный документ (Certificate of Origin form A) имеет следующие особенности:

                        ul
                            li признан во многих государствах (страны Европейского союза, Турция, Соединённые Штаты Америки, Канада и др.);
                            li используется таможнями, чтобы идентифицировать страну происхождения продукции. Кроме того, документ предоставляет импортёрам некоторые преференции и льготы при растаможивании;
                            li позволяет экспортёру ввозить продукцию со скидкой 25 % скидкой (по отношению к базовому размеру таможенной пошлины). В некоторых случаях возможен беспошлинный ввоз.
                        br
                        br

                        h4 Форма СТ-2
                        p В соответствии с достигнутыми взаимными договорённостями, этот документ действует при импорте/экспорте между Россией и Сербией. Сертификат освобождает предъявителя от уплаты таможенных пошлин при ввозе сербских товаров в Россию и российской продукции в Сербию.

                        h4 Форма СТ-3
                        p Документ подтверждает происхождение товара при транспортировке продукции между РФ и Ираном и освобождает стороны от таможенных платежей.

                        h4 EAV
                        p Данный сертификат согласован для ввоза российских товаров во Вьетнам, а вьетнамских в Россию. Так же как и формы СТ-2, СТ-3, документ освобождает стороны от уплаты таможенных пошлин.
 
                    .services-content-block
                        h2 Центр «Евросертиум-Ю»: помощь в сертификации
                        
                        .block-wrap
                            p Сертификат происхождения должен быть представлен таможенным органам во время экспорта. Документ также запрошивается зарубежными покупателями и банками. Причём экспортная операция может требовать получения нескольких документов на одну партию. Это зависит от требований страны ввоза.
                            br
                            br
                            |Если вам необходимо получить сертификат СТ-1 в Москве, чтобы подтвердить происхождение товара для ввоза в страны ЕАЭС, СНГ, а также сертифицировать продукцию, поставляемую в государства Евросоюза, Турцию, США, Канаду, другие страны, вы можете обратиться в центр «Евросертиум-Ю».
                            br
                            br
                            |Наша компания предоставляет услугу под ключ и предлагает выгодную стоимость сертификата происхождения СТ-1.
                            br
                            br
                            |Сроки оформления сертификата СТ-1 и других видов разрешений довольно небольшие, но мы всегда рекомендуем экспортёрам, производителям, поставщикам заниматься этим заранее. Иногда в документ при оформлении могут быть введены неверные данные. Тогда это потребует дополнительного времени на внесение исправлений и удостоверения подлинности.

                    .services__advantages

                        .services__advantages-item
                            .advantages__item-icon
                                i.fal.fa-handshake
                            .advantages__item-title Помощь на всех этапах
                        .services__advantages-item
                            .advantages__item-icon
                                i.fal.fa-shield-check
                            .advantages__item-title Гарантия законности
                        .services__advantages-item
                            .advantages__item-icon
                                i.fal.fa-watch
                            .advantages__item-title выполняем Четкие сроки

                        .services__advantages-item
                            .advantages__item-icon
                                i.fal.fa-people-group
                            .advantages__item-title только профи в команде

                    .services-reviews
                            
                        .reviews
                        
                            .reviews__head
                                h2.reviews__title.section-title Отзывы клиентов
                                .reviews__nav
                                    .nav-arrow.nav-arrow--left
                                        i.fal.fa-chevron-left
                                    .nav-arrow.nav-arrow--right
                                        i.fal.fa-chevron-right

                            .swiper

                                .swiper-wrapper

                                    .reviews__slide.swiper-slide
                                        .reviews__slider-title Иван Петров
                                        .reviews__slider-subtitle ОА «Газпром торг»
                                        .reviews__slider-text Сертификация позволила нам подтвердить качество нашей продукции и соответствие ее стандартам безопасности и экологичности. Это повысило уровень доверия к нашему бренду со стороны наших клиентов и партнеров.<br><br>Так же мы учли все те небольшие проблемы, которые выявили в процессе сертификации и уже их исправили.

                                    .reviews__slide.swiper-slide
                                        .reviews__slider-title Илья Иванов
                                        .reviews__slider-subtitle ООО «Кучеров и Партнёры»
                                        .reviews__slider-text Сертификация позволила нам подтвердить качество нашей продукции и соответствие ее стандартам безопасности и экологичности. Это повысило уровень доверия к нашему бренду со стороны наших клиентов и партнеров.<br><br>Так же мы учли все те небольшие проблемы, которые выявили в процессе сертификации и уже их исправили.
                                    .reviews__slide.swiper-slide
                                        .reviews__slider-title Иван Петров
                                        .reviews__slider-subtitle ОА «Газпром торг»
                                        .reviews__slider-text Сертификация позволила нам подтвердить качество нашей продукции и соответствие ее стандартам безопасности и экологичности. Это повысило уровень доверия к нашему бренду со стороны наших клиентов и партнеров.<br><br>Так же мы учли все те небольшие проблемы, которые выявили в процессе сертификации и уже их исправили.

                                    .reviews__slide.swiper-slide
                                        .reviews__slider-title Илья Иванов
                                        .reviews__slider-subtitle ООО «Кучеров и Партнёры»
                                        .reviews__slider-text Сертификация позволила нам подтвердить качество нашей продукции и соответствие ее стандартам безопасности и экологичности. Это повысило уровень доверия к нашему бренду со стороны наших клиентов и партнеров.<br><br>Так же мы учли все те небольшие проблемы, которые выявили в процессе сертификации и уже их исправили.

                    .services-order
                        .services-order__title Документ под ключ
                        .services-order__right
                            p от 7 000 руб.
                            .btn.btn--fill-blue(data-src="#popup-callback" data-fancybox) Оформить заявку
                                
                .services-aside

                    .services-aside__wrap

                            .aside
                                .aside__link.active
                                    a(href="#") Сертификация продукции и услуг
                                .aside__link    
                                    a(href="#") Декларирование продукции
                                .aside__link    
                                    a(href="#") Свидетельства и заключения      
                                .aside__link    
                                    a(href="#") Разработка тех документации     
                                .aside__link    
                                    a(href="#") Лицензирование деятельности
                                .aside__link    
                                    a(href="#") Отказные письма
                                .aside__link    
                                    a(href="#") Регистрация
                                .aside__link    
                                    a(href="#") Технические регламенты
                            
                            .aside-support

                                .aside-support__wrap
                                    .aside-support__title нужна помощь?
                                    .aside-support__subtitle Просто введите имя и телефон

                                    .aside-support__form
                                        form
                                            .input-style
                                                input(type="text" placeholder="Как вас зовут?" required)
                                            .input-style
                                                input(type="tel" placeholder="+7 (___) ___-__-__" required)
                                            .checkbox-style
                                                input#agree(type="checkbox", name="agreement" checked)
                                                label(for="agree")
                                                    p Согласен на обработку персональных данных
                                            button.btn.btn--fill-brown(type="submit")  Оформить заявку

                            .aside-contacts
                                .aside-contacts__title контакты

                                .aside-contacts-item.aside-contacts-phone
                                    i.fal.fa-phone
                                    a(href="tel:8 (495) 181 00 16") 8 (495) 181 00 16

                                .aside-contacts-item.aside-contacts-email
                                    i.fal.fa-envelope
                                    a(href="mailto:info@e-s-u.ru") info@e-s-u.ru

                                .aside-contacts-item.aside-contacts-ask
                                    i.fal.fa-comments
                                    p(data-src="#popup-questions" data-fancybox) Задать вопрос